- content_for :head do
  %title a.k.a. Michelle
  %meta{ :name => 'description', :content => 'GitHub User Pages for akamichelle' }

- content_for :content do

  #hcard-Michelle-Kim.vcard
    .content
      %h1 a.k.a. Michelle
      .tagline front-end developer
      .fn Michelle Kim
      .adr
        %span.locality Atlanta
        %span.region GA
        %span.country-name United States

    .links
      %ul
        %li
          %i.fa.fa-briefcase
          %a.url{ :href => "http://michellek.im/" } Portfolio
        %li
          %i.fa.fa-twitter
          %a.url{ :href => "http://twitter.com/minjung" } Twitter
        %li
          %i.fa.fa-linkedin
          %a.url{ :href => "http://www.linkedin.com/in/minjkim/" } LinkedIn
        %li
          %i.fa.fa-github
          %a.url{ :href => "https://github.com/akamichelle" } GitHub  
