- content_for :head do
  %title a.k.a. Michelle
  %meta{ :name => 'description', :content => 'GitHub User Pages for akamichelle' }

- content_for :content do

  .container
    #hcard-Michelle-Kim.vcard
      .content
        %h1 a.k.a. Michelle
        .tagline front-end developer
        .fn Michelle Kim
        .adr
          %span.locality Atlanta
          %span.region GA
          %span.country-name United States

      .links
        %ul
          %li
            %a.url.fn{ :href => "http://michellek.im/" } Portfolio
          %li
